@use "global";

.post-page {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  &__navbar {
    width: 100%;
    padding: 30px 0;
  }
  &__navbar-container {
    display: flex;
  }
  &__navbar-item {
    font-size: 0.75em;
    color: global.$color-primary;
    display: flex;
    align-items: center;
    margin-inline-end: 10px;
    a {
      cursor: pointer;
    }
    i {
      width: 16px;
      height: 16px;
    }
    span {
      color: global.$color-secondary;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
    @media only screen and (max-width: global.$lg-width) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__details {
    @media only screen and (max-width: global.$lg-width) {
      width: 100%;
      padding: 0 1rem;
    }
    width: 420px;
    display: flex;
    flex-direction: column;
  }
  &__details-text {
    display: flex;
    flex-direction: column;
  }
  &__info {
    width: 500px;
    display: flex;
    flex-direction: column;
  }
  .button {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 500;
    height: 2.5rem;
    justify-content: center;
    line-height: normal;
    min-width: 6rem;
    overflow: hidden;
    padding: 0 16px;
    &__contained {
      background-color: global.$bg-red;
      width: 130px;
      color: white;
      &:hover {
        font-weight: bold;
      }
    }
    &__outlined {
      border: 1px solid global.$border-gray;
      color: global.$color-primary;
      width: 130px;
    }
  }

  .post-detail {
    &__title {
      font-size: 1.25rem;
      min-height: 40px;
      font-weight: 400;
    }
    &__time {
      font-size: 1rem;
      color: global.$color-primary;
      margin: 1rem 0;
    }
    &__box {
      display: flex;
      align-items: center;
      color: global.$color-primary;
      border: 1px solid global.$border-gray;
      width: 150px;
      padding: 4px;
      font-size: 0.875em;
    }
    &__icon {
      width: 20px;
      height: 20px;
    }
    &__feature-title {
      width: 100%;
      display: flex;
      align-items: center;
      margin: 1rem 0;
    }
    &__share {
      margin: 2.5rem 0;
      display: flex;
      justify-content: space-between;
      &-actions {
        width: 300px;
        display: flex;
      }

      &-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 120px;
        height: 100%;

        button {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          &:hover {
            background-color: #eee;
          }

          img {
            border-radius: 50%;
          }
        }
      }
    }
    &__group-feature {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;
      border-bottom: 1px solid global.$border-gray;
      padding-bottom: 16px;
    }
    &__list-data {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;
    }
    &__info {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__phone-button {
      margin-inline-end: 8px;
    }
  }
  .info-row {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid global.$border-gray;

    &__key {
      color: global.$color-primary;
    }
  }

  .description {
    margin-top: 2rem;
    border-bottom: 1px solid global.$border-gray;
    &__title {
      font-size: 1.25rem;
      font-weight: 500;
    }
    &__text {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      line-height: 2;
      text-align: justify;
    }
  }
  .list-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid global.$border-gray;
    width: 33%;
    &__key {
      color: global.$color-primary;
    }
    &__value {
      margin-top: 4px;
    }
  }
  .feature-title {
    font-size: 1.25rem;
    font-weight: 500;
  }
  .group-feature {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33%;
    &__img {
      width: 24px;
      height: 24px;
    }
    &__title {
      color: global.$color-primary;
      font-size: 0.875rem;
      margin-top: 4px;
    }
  }
}
