@use "global";

.post-page {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  &__navbar {
    width: 100%;
    padding: 30px 0;
  }
  &__navbar-container {
    display: flex;
  }
  &__navbar-item {
    font-size: 0.75em;
    color: global.$color-primary;
    display: flex;
    align-items: center;
    margin-inline-end: 10px;
    a {
      cursor: pointer;
    }
    i {
      width: 16px;
      height: 16px;
    }
    span {
      color: global.$color-secondary;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 40px;
    @media only screen and (max-width: global.$lg-width) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  &__details {
    @media only screen and (max-width: global.$lg-width) {
      width: 100%;
      padding: 0 1rem;
    }
    width: 420px;
    display: flex;
    flex-direction: column;
  }
  &__details-text {
    display: flex;
    flex-direction: column;
  }
  &__more-info {
    .dots-container {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    width: 500px;
    display: flex;
    flex-direction: column;
    .mySlides {
      display: none;
      img {
        width: 100%;
        height: 380px;
        border-radius: 4px;
      }
    }
    img {
      vertical-align: middle;
    }
    /* Slideshow container */
    .slideshow-container {
      width: 100%;
      position: relative;
      height: 400px;
    }
    /* Next & previous buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    /* On hover, add a black background color with a little bit seethrough */
    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    /* Caption text */
    .text {
      color: black;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    .thumb-nail {
      display: grid;
      gap: 6px;
      align-items: center;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(68px, 1fr));
      img {
        cursor: pointer;
        width: 68px;
        height: 68px;
        border-radius: 4px;
      }
      @media screen and (max-width: global.$lg-width) {
        display: none;
      }
    }
    .static-container {
      margin-top: 1rem;
      .static-data {
        margin: 8px 0;
        border-bottom: 1px solid global.$border-gray;
        padding: 8px;
        display: flex;
        align-items: center;
        &__img {
          width: 24px;
          height: 24px;
          margin-inline-end: 8px;
        }
        &__title {
          color: global.$color-primary;
          font-size: 0.875rem;
        }
      }
    }
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .active,
    .dot:hover {
      background-color: #717171;
    }
    .textarea-container {
      box-sizing: border-box;
      background: #fff;
      display: block;
      overflow: hidden;
      position: relative;
      .textarea {
        background: none;
        box-sizing: border-box;
        border: 1px solid #ccc;
        color: rgba(0, 0, 0, 0.87);
        display: block;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2;
        min-height: 7.5rem;
        outline: none;
        padding: 8px 16px;
        resize: none;
        width: 100%;
        margin-top: 1rem;
        border-radius: 4px;
      }
    }
    @media only screen and (max-width: global.$lg-width) {
      width: 100%;
    }
  }
  .button {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 500;
    height: 2.5rem;
    justify-content: center;
    line-height: normal;
    min-width: 6rem;
    overflow: hidden;
    padding: 0 16px;
    &__contained {
      background-color: global.$bg-red;
      width: 130px;
      color: white;
      &:hover {
        font-weight: bold;
      }
    }
    &__outlined {
      border: 1px solid global.$border-gray;
      color: global.$color-primary;
      width: 130px;
    }
  }

  .post-detail {
    &__title {
      font-size: 1.25rem;
      min-height: 40px;
      font-weight: 400;
    }
    &__time {
      font-size: 1rem;
      color: global.$color-primary;
      margin: 1rem 0;
    }
    &__box {
      display: flex;
      align-items: center;
      color: global.$color-primary;
      border: 1px solid global.$border-gray;
      width: 150px;
      padding: 4px;
      font-size: 0.875em;
    }
    &__icon {
      width: 20px;
      height: 20px;
    }
    &__feature-title {
      width: 100%;
      display: flex;
      align-items: center;
      margin: 1rem 0;
    }
    &__share {
      margin: 2.5rem 0;
      display: flex;
      justify-content: space-between;
      &-actions {
        width: 300px;
        display: flex;
      }

      &-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 120px;
        height: 100%;

        button {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          &:hover {
            background-color: #eee;
          }

          img {
            border-radius: 50%;
          }
        }
      }
    }
    &__group-feature {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;
      border-bottom: 1px solid global.$border-gray;
      padding-bottom: 16px;
    }
    &__list-data {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;
    }
    &__info {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__phone-button {
      margin-inline-end: 8px;
    }
  }
  .info-row {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid global.$border-gray;

    &__key {
      color: global.$color-primary;
    }
  }

  .description {
    margin-top: 2rem;
    border-bottom: 1px solid global.$border-gray;
    &__title {
      font-size: 1.25rem;
      font-weight: 500;
    }
    &__text {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      line-height: 2;
      text-align: justify;
    }
  }
  .list-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid global.$border-gray;
    width: 33%;
    &__key {
      color: global.$color-primary;
    }
    &__value {
      margin-top: 4px;
    }
  }
  .feature-title {
    font-size: 1.25rem;
    font-weight: 500;
  }
  .group-feature {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33%;
    &__img {
      width: 24px;
      height: 24px;
    }
    &__title {
      color: global.$color-primary;
      font-size: 0.875rem;
      margin-top: 4px;
    }
  }
}
