@use 'global';

.single-post-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

.product {
    display: flex;
    &__info {
        width: 50%;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 1.4rem;
    }

    &__explain {
        color: global.$color-primary;
    }

    &__image {
        max-width: 50%;
        >img {
            max-width: 100%;
            border-radius: 5px;
        }
    }
}

.post-actions {
    display: flex;
    margin: 1rem 0 1rem 2rem;
    justify-content: space-between;
}

.pair-info {
    
    &__list {
        padding: 0 1rem;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__divider {
        box-sizing: border-box;
        height: 1px;
        border: none;
        background-color: global.$border-gray;
    }
}

.post-description {
    margin: 0.8rem 0;
    &__title {
        font-size: 1.2rem;
    }
    &__content {
        margin-top: 0.6rem;
        word-wrap: break-word;
    }
}
